# General
*.bck
*.bak
﻿.~*
_autosave-*
*/#auto_saved_files#
*/*-backups/*
tmp
build

#Python
__pycache__/
*.py[cod]
.venv/

#Env
.env
.env.local

#Agents
AGENTS.local.md
.claude/settings.local.json
.claude/*.local.*

# KiCad
.history
fp-info-cache
replicate_layout.log
*.kicad_prl
*.kicad_pro
!main.kicad_pro
!3313.kicad_pro
!7628.kicad_pro
!JLC02xx.kicad_pro
*.kicad_sch-bak
*.kicad_pcb-bak
~*.lck
*.rpt
main.step

# Freecad
*.FCStd1
*.FCBak

# Drawio
*.bkp
*.dtmp
